body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.nav_bar{
    height: 100px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    align-items: center;
    width: 100%;
}

.nav_bar_items li{
    list-style: none;
    padding: 0 18px;
}

.nav_bar_items ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 3px;
}

.nav_bar_items a{
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
}

.navbox{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  cursor: pointer;
  display: none;
  margin: auto;
  margin-left: 7rem;
}

.bars{
    height: 3px;
    width: 28px;
    background-color: rgb(240, 240, 240);
    border-radius: 20%;
    margin: 4px 0px;
    cursor: pointer;
}

.searchbar{
    max-width: 40%;
}

 @media (max-width: 476px) {
     .nav_bar{
         width: 100%;
         flex-direction: column;
         margin: 0;
         padding: 0;
         justify-content: space-between;

     }

     .logo{
        margin-left: -47px;
     }
     .main_search{
        display: none;
    }

    .mini_view{
        display: flex;
        margin-top: 2rem;
    }

    .navbox{
        display: block;
        margin-left: 190px;
    }

    .nav_bar_items{
        flex-direction: column;
        margin-top: 22px;
        background-color: rgb(165, 165, 165);
        height: 0;
        width: 100%;
        padding-top: 1rem;
        opacity: 0;
    
    }

    .nav_bar_items ul{
        flex-direction: column;
        justify-content: space-between;
        margin-top: -18px;
        margin-left: -35px;
        padding: 7px 0px;
    }

    .nav_bar_items li{
        line-height: 1.7rem;
    }

 

 .show-lists {
     height: 100%;
     opacity: 1 !important;

 }

 }

 @media (max-width: 763px) {
 
    .searchbar{
        display: none;
    }
    .input-group>.input-group-append>.input-group-text{
    border-radius: .25rem;
}

 }